body {
    font-family: Arial, sans-serif;
}

.server-tier {
    height: 400px;
}

.client-tier {
    height: 400px;
}

.web-server {
    background-color: #FF7474;
    border: solid 1px #711616;
    height: 100%;
}

.db-server {
    background-color: #9EB2F3;
    border: solid 1px #1F3271;
    height: 100%;
}

.description-area {
    overflow: scroll;
}

.client-browser {
    background-color: #BDDEA2;
    border-top: solid 1px #1E320E;
    border-bottom: solid 1px #1E320E;
    height: 100%;
}

.client-browser-left {
    border-left: solid 1px #1E320E;
}

.client-browser-right {
    border-right: solid 1px #1E320E;
}

.network {
    background-color: #c0c0c0;
    height: 100%;
}

.full-height {
    height: 100%;
}

.button-col {
    padding-top: 12px;
    text-align: right;
}

.btn-fixed {
    width: 35px;
}

.msg-panel {
    background-color: white;
    border: solid 1px black;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    z-index: 1000;
    position: absolute;
}

.msg-title {
     font-size: 10px;
 }

.msg-title-html {
    padding: 1px;
    background-color: #2B68C1;
    color: white;
}

.msg-title-css {
    padding: 1px;
    background-color: #D4040E;
    color: white;
}

.msg-title-browser {
    font-size: 12px;
    background-color: #d0d0d0;
}

.msg-body {
    font-size: 8px;
}

.msg-body-browser {
    font-size: 10px;
}

.msg-body-html {
}

.msg-body-css {
}